profiles {
    standard {
        process {
            executor = 'slurm'
        }
        params {
            fofn = "samples.fofn"
            cpusPerNode = 12
            reffn = "${projectDir}/data/current/reference.fasta"
            maxJobs = 5
            queue = 'compute'
            time = '88h'
        }
    }
}

process {
    withName: extractSoftClip {
        publishDir = { "${params.outdir}/${sample}/break_at_soft_clip" }
        container = "$baseDir/container/hifi_container.sif"
    }
    withName: alignContigs {
        publishDir = { "${params.outdir}/${sample}/hifiasm" }
        container = "$baseDir/container/hifi_container.sif"
    }
    withName: mergeAndDedup {
        publishDir = { "${params.outdir}/${sample}/merged_bam" }
        container = "$baseDir/container/hifi_container.sif"
    }
    withName: alignAndProcess {
        publishDir = { "${params.outdir}/${sample}/merged_bam/alg_asm20_to_ref_with_secondarySeq" }
        container = "$baseDir/container/hifi_container.sif"
    }
    withName: runHifiasm {
        container = "$baseDir/container/hifi_container.sif"
    }
    withName: extractReads {
        container = "$baseDir/container/hifi_container.sif"
    }
}

singularity {
    enabled = true
    autoMounts = true
    runOptions = '--bind /home/zmvanw01/nextflow-testing:/home/zmvanw01/nextflow-testing'
}
