def currentDate = new Date().format('yyyyMMdd')

profiles {
    standard {
        process {
            executor = 'slurm'
            queue = params.queue
            time = params.time
            cpus = params.cpusPerNode
        }
    }
}

params {
    outdir = "${System.getProperty('user.dir')}/${currentDate}_output"
    fofn = "samples.fofn"
    cpusPerNode = 12
    reffn = "/path_to/immune_receptor_genomics/current/reference.fasta"
    maxJobs = 12
    queue = 'compute'
    time = '88h'
}

process {
    withName: alignWithMinimap2 {
        publishDir = "${params.outdir}/break_at_soft_clip"
    }
    withName: alignWithMinimap2Asm20 {
        publishDir = "${params.outdir}/hifiasm"
    }
    withName: mergeAndRmdup {
        publishDir = { "${params.outdir}/run_hifiasm/${sample}/merged_bam" }
    }
    withName: alignAndProcess {
        publishDir = { "${params.outdir}/run_hifiasm/${sample}/merged_bam/alg_asm20_to_ref_with_secondarySeq" }
    }
}